@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* Default (Light Mode) */
    @apply bg-[#f8fafc] text-slate-900 transition-colors duration-300;
  }

  .dark body {
    /* Dark Mode */
    @apply bg-[#111113] text-white;
  }
}

/* Custom Scrollbar for Dark/Light consistency */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 dark:bg-slate-700 rounded-full;
}